a {
    text-decoration: none !important;
    color: #4D98D2;
}

/************************* Overriding boostrap css **************************/
.navbar.custom {
    margin-bottom: 0;
    border-bottom: 1px solid #CDCDCD;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0F73AA), to(#4D98D2));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #4D98D2, #0F73AA);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #4D98D2, #0F73AA);

    /* IE 10 */
    background: -ms-linear-gradient(top, #4D98D2, #0F73AA);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #4D98D2, #0F73AA);
}

.navbar-text.custom {
    margin: 0;
    color: #FFFFFF;
}

.navbar-link.custom {
    margin: 0;
    color: #15ADFF;
}

.navbar-link.custom:hover {
    color: #15ADFF;
    opacity: 0.70;
}

.navbar-brand.custom {
    color: #FFFFFF;
}

.navbar-brand.custom:hover {
    opacity: 0.70;
    color: #FFFFFF;
}

.nav-tabs.custom {
  border-bottom: 1px solid #CDCDCD;
}

.nav-tabs.custom > li.active > a,
.nav-tabs.custom > li.active > a:hover,
.nav-tabs.custom > li.active > a:focus {
  cursor: pointer;
  background-color: #4D98D2;
  border: 1px solid #bce8f1;
  color: #ffffff;
  border-bottom-color: transparent;
}

.badge.red, .badge.profile, .badge.blue {
    font-size: 12px;
    background-color: #CC0000;
    top: 0;
    vertical-align: top;
}

.badge.blue {
    background-color: #15ADFF;
}

.badge.profile {
    background-color: #15ADFF;
    margin: 1%;
    padding: 1%;
    font-size: 12px;
}

.badge.profile a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5%;
}

.btn-primary.custom, .btn-primary.customHidden {
    background-color: #15ADFF;
    border-color: #15ADFF;
}

.btn-primary.customHidden, .btn-default.customHidden {
  display: none;
}

.table-bordered tr.valueTr {
    color: #333;
}

.table-bordered tr.valueTr:hover {
    background-color: whiteSmoke;
}

.table-bordered tr th.noRecords {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: #999;
}

.alert.alert-fixed {
    position: fixed;
    width: 71%;
    z-index: 3;
    top: 15%;
    margin-left: 22%;
}

.alert .content {
    text-align: center;
}

.table {
    color: #777;
}

.table-bordered.custom {
    background-color: #FFFFFF;
}

.table-bordered.custom tbody tr:nth-child(even) {
    /*background-color: #FCF8E3;*/
    background-color: #DFF0D8;
}

.table-bordered.custom thead {
    background: #4D98D2;
    color: #FFFFFF;
}

/****************************************************************************/

/********************* bread crumb css ***************************************/
#crumbs ul li a {
    display: block;
    float: left;
    height: 50px;
    background: #3498db;
    text-align: center;
    padding: 30px 40px 50px 60px;
    position: relative;
    margin: 0 10px 0 0; 
    
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#crumbs ul li a:after {
    content: "";  
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #3498db;
    position: absolute; right: -40px; top: 0;
}

#crumbs ul li a:before {
    content: "";  
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #FFFFFF;
    position: absolute; left: 0; top: 0;
}

/*****************************************************************************/

.fullContainer, .fullContainerMain {
    float: left;
    width: 100%;
    z-index: 0;
    display: inline-block;
}

.fullContainerMain {
    background: #FFFFFF;
    /*background: #e8e5ce;*/
}

.halfContainer {
    width: 50%;
    float: left;
}

.rightContainer, .rightContainerMain {
    width: 45%;
    float: left;
    margin: 1% 0 1% 1%;
    padding: 1%;
    min-height: 530px;
}

.rightContainerMain {
    margin-left: 16%;
}

.leftContainer {
    width: 45%;
    float: left;
    display: inline-block;
    margin: 1% 1% 1% 0;
    padding: 1% 0 1% 0;
    min-height: 600px;
}

.halfContainer.login {
    border-right: 1px solid #CDCDCD;
}

.loginContainer {
    margin: 10% auto auto 26%;
    width: 37%;
    padding: 40px 40px;
    float: left;
    border-radius: 0;
}

@media handheld, screen and (max-width: 720px), (max-width: 1300px) {
    .loginContainer {
        margin: 10% 20% auto 20%;
        padding: 20px 20px;
        width: auto;
    }
}

.disableme {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #333;
    opacity: 0.5;
}

/*****************************************************************************/
.floatRight {
    float: right;
}

.marginAll1P {
    margin: 1% !important;
}

.marginTop4P {
    margin-top: 4% !important;
}

.marginTop60 {
    margin-top: 60px !important;
}