html, body {
  min-height: 100%;
  position: relative;
}

a {
    text-decoration: none !important;
    color: #4D98D2;
}

/************************* Overriding boostrap css **************************/
.navbar.custom {
    margin-bottom: 0;
    border-bottom: 1px solid #CDCDCD;
    background: #0F73AA;
    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0F73AA), to(#4D98D2));*/

    /* Safari 5.1, Chrome 10+ */
    /*background: -webkit-linear-gradient(top, #4D98D2, #0F73AA);*/

    /* Firefox 3.6+ */
    /*background: -moz-linear-gradient(top, #4D98D2, #0F73AA);*/

    /* IE 10 */
    /*background: -ms-linear-gradient(top, #4D98D2, #0F73AA);*/

    /* Opera 11.10+ */
    /*background: -o-linear-gradient(top, #4D98D2, #0F73AA);*/
}

ul.navbar-nav li a {
  color: #FFFFFF;
}

ul.navbar-nav li.active {
  background-color: #E0E0E0;
}

ul.navbar-nav li:hover {
  background-color: #E0E0E0;
}

ul.navbar-nav li:hover a, ul.navbar-nav li:hover a i {
  color: #333;
}

ul.navbar-nav li.active a, ul.navbar-nav li.active a i {
  color: #333;
}

.navbar-collapse.custom {
  float: left;
}

.navbar-text.custom {
    margin: 0;
    color: #FFFFFF;
}

.navbar-link.custom {
    margin: 0;
    color: #15ADFF;
}

.navbar-link.custom:hover {
    color: #15ADFF;
    opacity: 0.70;
}

.navbar-brand.custom {
    color: #FFFFFF;
}

.navbar-brand.custom:hover {
    opacity: 0.70;
    color: #FFFFFF;
}

.nav-tabs.custom {
  border-bottom: 1px solid #CDCDCD;
}

.nav-tabs.custom > li.active > a,
.nav-tabs.custom > li.active > a:hover,
.nav-tabs.custom > li.active > a:focus {
  cursor: pointer;
  background-color: #4D98D2;
  border: 1px solid #bce8f1;
  color: #ffffff;
  border-bottom-color: transparent;
}

.nav .open a, .nav .open a:hover, .nav .open a:focus {
  color: #333;
}

.badge.red, .badge.profile, .badge.blue {
    font-size: 12px;
    background-color: #CC0000;
    top: 0;
    vertical-align: top;
}

.badge.blue {
    background-color: #15ADFF;
}

.badge.profile {
    background-color: #15ADFF;
    margin: 1%;
    padding: 1%;
    font-size: 12px;
}

.badge.profile a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5%;
}

.btn-primary.custom, .btn-primary.customHidden {
    background-color: #15ADFF;
    border-color: #15ADFF;
}

.btn-primary.customHidden, .btn-default.customHidden {
  display: none;
}

.table-bordered tr.valueTr {
    color: #333;
}

.table-bordered tr.valueTr:hover {
    background-color: whiteSmoke;
}

.table-bordered tr th.noRecords {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: #999;
}

.alert.alert-fixed {
    position: fixed;
    width: 71%;
    z-index: 3;
    top: 15%;
    margin-left: 22%;
}

.alert .content {
    text-align: center;
}

.table {
    color: #777;
}

.table-bordered.custom {
    background-color: #FFFFFF;
}

.table-bordered.custom tbody tr:nth-child(even) {
    /*background-color: #FCF8E3;*/
    background-color: #DFF0D8;
}

.table-bordered.custom thead {
    background: #4D98D2;
    color: #FFFFFF;
}

.signup-btn {
    background-color: #ffac33;
    background-image: linear-gradient(#ffcc4d, #ffac33);
    border-color: #f1a02a;
    color: #333; 
}

/****************************************************************************/
/************************* font awesome css overrides ***********************/
.fa.fa-blue {
    color: #4D98D2;
}

.fa.fa-blue-dark {
    color: #0F73AA;
}

.fa.fa-green {
    color: green;
}

.fa.fa-red {
    color: red;
}

.fa.fa-orange {
    color: orangered;
}

.fa.fa-white {
  color: #FFFFFF;
}
/****************************************************************************/
/********************* bread crumb css ***************************************/
ul#breadcrumbs-one {
    margin: 0 0 2% 0;
    padding: 0;
    list-style: none;
}
#breadcrumbs-one{
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #333;
  position: relative;
  background: #FFFFFF;
  background: linear-gradient(to right, #f5f5f5, #ddd);  
  border-bottom: 3px transparent;
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

#breadcrumbs-one a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: #FFFFFF;
  color: #333;
  border-bottom: 3px solid #4D98D2;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  border-left-color: #fff;
}

/*****************************************************************************/

.fullContainer, .fullContainerMain {
    float: left;
    width: 100%;
    z-index: 0;
    display: inline-block;
}

.fullContainerMain {
    background: #FFFFFF;
    /*background: #e8e5ce;*/
}

.halfContainer {
    width: 50%;
    float: left;
}

.rightContainer, .rightContainerMain {
    width: 45%;
    float: left;
    margin: 1% 0 1% 1%;
    padding: 1%;
    min-height: 530px;
}

.rightContainerMain {
    margin-left: 16%;
}

.leftContainer {
    width: 45%;
    float: left;
    display: inline-block;
    margin: 1% 1% 1% 0;
    padding: 1% 0 1% 0;
    min-height: 600px;
}

.halfContainer.login {
    border-right: 1px solid #CDCDCD;
}

.loginContainer {
    margin: 5% auto auto 26%;
    width: 37%;
    padding: 40px 40px;
    float: left;
    border-radius: 0;
}

@media handheld, screen and (max-width: 720px), (max-width: 1300px) {
    .loginContainer {
        margin: 10% 20% auto 20%;
        padding: 20px 20px;
        width: auto;
    }
}

.welcome {
    width: auto;
    float: right;
}

.userContainer, .searchContainer {
    float: right;
    width: auto;
    padding: 1%;
    /*border-left: 1px solid #CDCDCD;
    background: #e3e4e4;
    background: -moz-linear-gradient(top, #fff 0, #e3e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #fff 0, #e5e5e5 100%);
    background: -o-linear-gradient(top, #fff 0, #e3e4e4 100%);
    background: -ms-linear-gradient(top, #fff 0, #e3e4e4 100%);
    background: linear-gradient(to bottom, #fff 0, #e3e4e4 100%);*/
}

.searchContainer {
    width: 20%;
}

.customIconContainer, .navbar .customIconContainer, .customIconContainerLeft, .searchIconContainer, .searchIconContainerAbsolute {
    background: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #DFDFDF;
    float: right;
    padding: 4px;
    cursor: pointer;
    margin: 0px 8px 0px 8px;
    position: relative;
    width: auto;
    height: auto;
}

.userContainer .customIconContainer {
    padding: 0;
}

.customIconContainerLeft {
    float: left;
}

.navbar .customIconContainer {
    background: none;
    border: none;
}

.searchIconContainer {
    border-radius: 0 15px 15px 0;
    position: relative;
    padding-bottom: 3%;
    padding-right: 3%;
    right: 9%;
}

.disableme {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 333;
    background-color: #333;
    opacity: 0.5;
    display: none;
}

.tabContents {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 98%;
    padding: 1%;
    background-color: #d9edf7;
    color: #31708f;
}

.tabContents.white {
    background-color: #FFFFFF;
}

.requiredField:after {
    content: ' *';
    color: red;
}

.without-form-control input {
  display: block;
  width: auto;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.without-form-control input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.without-form-control input:-moz-placeholder {
  color: #999999;
}

.without-form-control input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.without-form-control input:-ms-input-placeholder {
  color: #999999;
}

.without-form-control input::-webkit-input-placeholder {
  color: #999999;
}

input[type="text"].inp35 {
    width: 35px;
}

.error {
    width: auto;
    color: red;
    font-weight: normal !important;
    font-size: 12px !important;
    clear: both;
}

div.popupContainer, div.popupContainerFixed {
    z-index: 444;
    width: 98%;
    position: absolute;
}

div.popupContainerFixed {
    position: fixed;
    top: 20%;
}

div.formContainer, .formContainerWithDisplay {
    float: left;
    background: #ffffff;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 2px #CDCDCD;
    width: 70%;
    margin-left: 15%;
    padding: 1%;
    display: none;
    position: relative;
}

div.formContainerWithDisplay {
    display: block;
}

div.notificationsNav {
    width: 100%;
    float: left;
}

div.notificationsNav ul {
    list-style: none;
    width: 35%;
    margin: 1%;
    padding: 0;
    right: 2%;
    top: 75%;
    display: none;
    position: absolute;
    box-shadow: 0 2px 2px #CDCDCD;
    background: #E0E0E0;
    min-height: 300px;
    max-height: 500px;
    overflow-y: scroll;
}

div.notificationsNav ul li {
    padding: 2% 2% 0 2%;
    margin: 1%;
    background: #FFFFFF;
    float: left;
    border-bottom: 1px solid #CDCDCD;
    cursor: pointer;
    box-shadow: 0 5px 5px #CDCDCD;
}

div.notificationsNav ul li div.message, div.commonMessage {
    color: #666;
    float: left;
    width: 100%;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

div.notificationsNav ul li div.timeFooter, div.commonTimeFooter {
    color: #999;
    font-size: 12px;
    text-align: left;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    float: left;
}

div.commonMessage, div.commonTimeFooter {
    width: auto;
    float: none;
}

.table-bordered.custom tr td div.timeFooter {
    width: auto;
}

div.notificationsNav ul::-webkit-scrollbar{
    width: 8px;
    background-color: #CDCDCD;
}

div.notificationsNav ul::-webkit-scrollbar-thumb{
    background-color: #4d98d2;
    border-radius: 10px;
}

div.notificationsNav ul::-webkit-scrollbar-thumb:hover{
    background-color: #15adff;
}

.filterMain{
    width: 98%;
    float: left;
    margin: 1%;
}

.filterRight {
    float: right;
   /* width: 30%;
    display: inline-block;
    margin-bottom: 15px;*/
    width: auto;
    margin: 1%;
}

.filterSub {
    text-decoration: none;
    color: #15ADFF;
    padding: 0 3% 0 3%;
}

.filterRight .current {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.filterLeft {
    float: left;
    width: auto;
    margin: 1%;
}

.filterLeft .current {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.icon {
    cursor: pointer;
    opacity: 0.75;
}

.icon:hover {
    opacity: 1;
}

.icon.blue {
    color: #4D98D2;
}

.iconFullOpacity {
    cursor: pointer;
    opacity: 1;
}
/*****************************************************************************/
.floatRight {
    float: right !important;
}

.floatLeft {
    float: left !important;
}

.marginAll1P {
    margin: 1% !important;
}

.marginTop4P {
    margin-top: 4% !important;
}

.marginTop60 {
    margin-top: 60px !important;
}

.displayNone {
    display: none;
}