{% extends 'ola/layout.html' %}
{% block head %}
	<link href="/static/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
{% endblock %}
{% block content %}
<div class="container">
	<form class="form-horizontal" role="form" ng-controller="LeaveFormController">
		<legend>Request Leave</legend>
		<div class="form-group">
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
			  		<input class="form-control" type="text" placeholder="From" id="id_start" name="start" ng-model="form_data.start" >
			  		<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
			  		<input class="form-control" type="text" placeholder="To" id="id_end" name="end" ng-model="form_data.end" />
			  		<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
			  	</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
					<span class="input-group-addon"><i class="fa fa-toggle-down fa-fw"></i></span>
			  		{{leave_form.leave_type}}
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
					<span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
			  		<input type="text" ng-model="selected_approver_name" placeholder="Select approvers as you type in" typeahead="approver.name for approver in get_approvers($viewValue)" typeahead-loading="loadingApprovers" typeahead-on-select="set_selected($item)" class="form-control">
			  		<span class="input-group-addon" ng-show="loadingApprovers"><i class="fa fa-spinner fa-spin"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<div class="input-group marginAll1P">
			  		<textarea placeholder="Comments" class="form-control" cols="150" rows="10"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<button class="btn btn-primary floatRight">Send Request</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$('#id_start').datetimepicker({
          format: 'dd/mm/yyyy hh:ii',
          todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 0,
          maxView: 2,
          minuteStep: 5
      });
      $('#id_end').datetimepicker({
          format: 'dd/mm/yyyy hh:ii',
          todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 0,
          maxView: 2,
          minuteStep: 5
      });
</script>
{% endblock %}