{% extends 'ola/layout.html' %}
{% block head %}
	<link href="/static/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/static/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript">
    	var user_id = '{{request.user.id}}';
    </script>
{% endblock %}
{% block content %}
<div class="container" ng-controller="HomeController">
	<form class="form-horizontal" role="form" name="leaveRequestForm" novalidate>
		<legend>Request Leave</legend>
		<div class="form-group">
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
			  		<input class="form-control requiredField" type="text" placeholder="From" id="id_start" name="start" ng-model="form_data.start" required />
			  		<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
			  		<input class="form-control" type="text" placeholder="To" id="id_end" name="end" ng-model="form_data.end" required />
			  		<span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
			  	</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
					<span class="input-group-addon"><i class="fa fa-toggle-down fa-fw"></i></span>
			  		{{leave_form.leave_type}}
				</div>
			</div>
			<div class="col-xs-5">
				<div class="input-group marginAll1P">
					<span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
			  		<input type="text" ng-model="selected_approver_name" placeholder="Select approvers as you type in" typeahead="approver.name for approver in approvers | filter : $viewValue" typeahead-loading="loadingApprovers" typeahead-on-select="set_selected($item)" class="form-control" required />
			  		<span class="input-group-addon" ng-show="loadingApprovers"><i class="fa fa-spinner fa-spin"></i></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<div class="input-group marginAll1P">
			  		<textarea placeholder="Comments" class="form-control" cols="150" rows="10" ng-model="form_data.comments"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-10">
				<button class="btn btn-primary floatRight" ng-click="validate_and_proceed(leaveRequestForm.$valid)" ng-disabled="leaveRequestForm.$invalid">Send Request</button>
			</div>
		</div>
	</form>
	<legend>Leaves at a glance</legend>
	<div calendar="subscriber_leaves_calendar" ui-calendar="calendarConfig" ng-model="eventSources"></div>
</div>
<script type="text/javascript">
	$('#id_start').datetimepicker({
          format: 'dd/mm/yyyy hh:ii',
          todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 0,
          maxView: 2,
          minuteStep: 5
      });
      $('#id_end').datetimepicker({
          format: 'dd/mm/yyyy hh:ii',
          todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          minView: 0,
          maxView: 2,
          minuteStep: 5
      });
</script>
{% endblock %}