<!DOCTYPE html>
<html ng-app="ola">
<head>
	{% load staticfiles %}
	<title>Sample App Angular{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'font-awesome-4.1.0/css/font-awesome.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/ola.css' %}" type="text/css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
	<script src="{% static 'js/jquery.loadTemplate-1.3.2.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/olaCommon.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/olaConstants.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/ola.js' %}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="tempDisableDiv" class="disableme"></div>
	<nav class="navbar custom navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand custom" href="{% url 'home_page' %}">Sample App Angular</a>
	    </div>
	    {% if request.user.is_authenticated %}
	    	<div class="collapse navbar-collapse custom" id="main-nav">
		      <ul id="main-nav-ul" class="nav navbar-nav">
		      	<li id="nav-home" class="active">
		      		<a href="{% url 'home_page' %}">
		      			<i class="fa fa-home fa-fw fa-white"></i>
		      			Home
		      		</a>
		      	</li>
		      	<li id="nav-leave-history">
		      		<a href="#">
		      			<i class="fa fa-clock-o fa-fw fa-white"></i>
		      			History
		      		</a>
		      	</li>
		        <li class="dropdown" id="nav-settings">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-wrench fa-fw fa-white"></i>
						Settings <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'subscriber_details' request.user.id %}">
							<i class="fa fa-user fa-fw"></i>
							My Account
						</a></li>
						{% if auth_group.COMPANY_ADMIN %}
							<li><a href="{% url 'view_subscribers' %}">
								<i class="fa fa-group fa-fw"></i>
								Manage Users
							</a></li>
							<li><a href="#">
								<i class="fa fa-book fa-fw"></i>
								Leave Policy
							</a></li>
							<li><a href="#">
								<i class="fa fa-university fa-fw"></i>
								Manage Company
							</a></li>
							<li><a href="#">
								<i class="fa fa-money fa-fw"></i>
								Payment
							</a></li>
						{% endif %}
					</ul>
				</li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
	    	<div class="userContainer">
	    		<div class="customIconContainer">
	    			<a href="{% url 'django.contrib.auth.views.logout_then_login' %}?next={{request.path}}">
	    				<i class="fa fa-sign-out fa-lg fa-white"></i>
		    		</a>
		    	</div>
		    	<div class="welcome">
			    	<p class="navbar-text navbar-right custom">Welcome, 
			    		{% if request.user.first_name %}
		    				{{request.user.first_name}}
		    			{% else %}
		    				{{request.user.username}}
		    			{% endif %}
		    		</p>
		    	</div>
	    	</div>
	    {% endif  %}
	  </div><!-- /.container-fluid -->
	</nav>
	{% if not request.user.is_authenticated %}
		{% block login_content %}{% endblock %}
	{% else %}
	<div class="fullContainer marginTop60">
		{% block content %}{% endblock %}
	</div>
	{% endif %}
</body>
</html>