<!DOCTYPE html>
<html ng-app="ola">
<head>
	{% load staticfiles %}
	<title>Sample App Angular{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'font-awesome-4.0.3/css/font-awesome.css' %}" type="text/css"/>
	<link rel="stylesheet" href="{% static 'css/ola.css' %}" type="text/css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
	<script src="{% static 'js/jquery.loadTemplate-1.3.2.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/olaCommon.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/olaConstants.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'js/ola.js' %}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="tempDisableDiv" class="disableme"></div>
	<nav class="navbar custom navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand custom" href="">Sample App Angular</a>
	    </div>
	    {% if request.user.is_authenticated %}
	    	<div class="userContainer">
	    		<div class="customIconContainer">
	    			<a href="{% url 'django.contrib.auth.views.logout_then_login' %}?next={{request.path}}">
	    				<i class="fa fa-sign-out fa-lg"></i>
		    		</a>
		    	</div>
		    	<div class="welcome">
			    	<p class="navbar-text navbar-right custom">Welcome, 
			    		{% if request.user.first_name %}
		    				{{request.user.first_name}}
		    			{% else %}
		    				{{request.user.username}}
		    			{% endif %}
		    		</p>
		    	</div>
	    	</div>
	    {% endif  %}
	  </div><!-- /.container-fluid -->
	</nav>
	{% if not request.user.is_authenticated %}
		{% block login_content %}{% endblock %}
	{% else %}
	<div class="fullContainer">
		{% block content %}{% endblock %}
	</div>
	{% endif %}
</body>
</html>