{% extends "ola/layout.html" %}
{% block head %}
	<script>
		$(document).ready(function () {
			$.each($('ul#main-nav-ul li'), function (index, elem) {
				$(elem).removeClass('active');
			});
			$('#nav-leave-settings').addClass('active');
		});
	</script>
{% endblock %}
{% block content %}
{% verbatim %}
<div ng-controller="HolidayCalendarController">
	<div class="leftContainer" calendar="holiday_calendar" ui-calendar="calendarConfig" ng-model="eventSources"></div>
	<div class="rightContainer">
		<div class="alert alert-info" ng-repeat="event in events">
			<div class="floatRight"><i class="icon fa fa-times fa-fw" ng-click="remove($index)"></i></div>
			<form name="holiday_form_{{$index}}" class="form-inline" action="javascript:void(0);" method="POST">
				<input class="form-control" name="name" type="text" ng-model="event.title" />
			</form>
			{{event.start | date:"MMM dd"}} - {{event.end | date:"MMM dd"}}
		</div>
	</div>
</div>
{% endverbatim %}
{% endblock %}