{% extends "ola/layout.html" %}
{% block head %}
	<script>
		$(document).ready(function () {
			$.each($('ul#main-nav-ul li'), function (index, elem) {
				$(elem).removeClass('active');
			});
			$('#nav-leave-settings').addClass('active');
		});
	</script>
{% endblock %}
{% block content %}
<div class="container" ng-controller="LeaveTypeFormController">
	<legend>
		Leave Type
	</legend>
	<div class="alert alert-warning">
		You can manage your type of leaves here. 
		<br clear="all">
		Currently you can only add leave types through out your employees. 
		<br clear="all">
		Premium users can avail the option to enable leave types for particular employee groups.
		<a class="btn signup-btn disabled">Upgrade Account</a>
	</div>
	{% verbatim %}
		<div ng-show="save_success" class="alert alert-success alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>Great!</strong> New changes are applied.
		</div>
		<form name="leaveTypeForm" class="form-horizontal" role="form" action="javascript:void(0);" method="POST" novalidate>
			<table class="table table-bordered">
				<tr>
					<th>
						Type of Leave
					</th>
					<th>
						No of Leave
					</th>
					<th>
						Actions
					</th>
				</tr>
				<tr ng-repeat="form in forms">
					<td>
						<input type="text" name="type_of_leave" class="form-control" ng-model="form.fields.type_of_leave" required ng-change="form.has_changed=true" />
					</td>
					<td>
						<input type="text" name="no_of_leave" class="form-control" ng-model="form.fields.no_of_leave" required ng-pattern="/^[\d]+$/" ng-change="form.has_changed=true" />
				  		<input type="hidden" name="hidden_type_id" ng-model="form.fields.hidden_type_id" />
					</td>
					<td>
						<div class="btn-group floatRight">
							<a class="btn btn-success" ng-click="validate_and_proceed(leaveTypeForm.$valid, $index)" ng-show="form.has_changed" ng-disabled="leaveTypeForm.$invalid" title="Save">
								<i class="fa fa-save fa-lg"></i>
							</a>
							<a class="btn btn-default" ng-click="create_form($index)" ng-show="$last" ng-disabled="leaveTypeForm.$invalid" title="Add one more">
								<i class="fa fa-plus fa-lg"></i>
							</a>
							<a class="btn btn-default" ng-click="delete_form($index)" title="Delete this type" ng-disabled="forms.length <= 1">
								<i class="fa fa-trash-o fa-lg"></i>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</form>
	{% endverbatim %}
</div>
{% endblock %}