{% extends "ola/layout.html" %}
{% block head %}
	<script>
		$(document).ready(function () {
			$.each($('ul#main-nav-ul li'), function (index, elem) {
				$(elem).removeClass('active');
			});
			$('#nav-leave-settings').addClass('active');
		});
	</script>
{% endblock %}
{% block content %}
<div class="container" ng-controller="PendingApprovalController">
	<legend>
		Pending Approvals
	</legend>
	<form name="leaveApproveForm" class="form-horizontal" role="form" action="javascript:void(0);" method="POST" novalidate>
		<table class="table table-bordered">
			<tr>
				<th>
					Name
				</th>
				<th>
					Date
				</th>
				<th>
					Type of Leave
				</th>
				<th>
					Actions
				</th>
			</tr>
			{% verbatim %}
			<tr ng-repeat="leave in leaves">
				<td>
					<a ng-href="{{leave.requester.profile_path}}">{{leave.requester.name}}</a>
				</td>
				<td>
					{{leave.period}}
				</td>
				<td>
					{{leave.type_of_leave.type_of_leave}}
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn-success" ng-click="approve_leave(leaveApproveForm.$valid, $index)" title="Approve">
							<i class="fa fa-check fa-fw"></i>
						</a>
						<a class="btn btn-default" ng-click="deny_leave($index)" title="Deny">
							<i class="fa fa-times fa-fw"></i>
						</a>
					</div>
				</td>
			</tr>
			{% endverbatim %}
		</table>
	</form>
</div>
{% endblock %}