{% extends "ola/layout.html" %}
{% block head %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" type="text/css"/>
{% endblock %}
{% block login_content %}
	<div class="loginContainer">
		<legend>Login</legend>
		<form class="form-horizontal" role="form" method="POST" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			<div class="input-group marginAll1P">
			  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			  <input class="form-control" type="text" placeholder="Username" id="id_username" name="username">
			</div>
			<div class="input-group marginAll1P">
			  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
			  <input class="form-control" type="password" placeholder="Password" id="id_password" name="password">
			</div>
			<div class="form-group marginTop4P">
			    <div class="floatRight col-sm-3">
			      	<button type="submit" class="btn btn-primary custom">Sign in</button>
			      	<input type="hidden" name="next" value="{{ next }}" />
			    </div>
				<div class="floatRight">
			    	<a class="btn signup-btn" href="{% url 'subscriber.views.register' %}">
			    		Register Now
			    	</a>
			    </div>
			</div>
		</form>
  	</div>
{% endblock %}