{% extends "ola/layout.html" %}
{% block head %}
	
{% endblock %}
{% block login_content %}
<div class="fullContainer marginTop60" ng-controller="RegistrationFormController">
	<ul id="breadcrumbs-one" class="nav-tabs">
	    <li><a href="javascript:void(0);" id="tab1" class="current">Company Registration</a></li>
	    <li><a href="javascript:void(0);" id="tab2">Admin Registration</a></li>
	    <li><a href="javascript:void(0);" id="tab3">Payment</a></li>
	</ul>
	<div id="regError" class="alert alert-danger">
		Oops! Please correct the below error to proceed.
	</div>
		<div id="companyRegistrationTab" class="tabContents white mainTab companyForm">
			<form id="clientRegistrationForm" name="clientRegistrationForm" class="form-horizontal" role="form" action="javascript:void(0);" method="POST" novalidate>
				<div class="form-group">
					<label class="control-label col-xs-4 requiredField">
						Company Name
					</label>
					<div class="col-xs-3">
						{{ client_form.name}}
						<span ng-show="clientRegistrationForm.name.$invalid && clientRegistrationForm.name.$dirty" class="error">Please tell us your company name.</span>
					</div>
				</div>
				<div class="alert alert-warning">
				    <ul class="fa-ul">
				      <li>
				        <i class="fa fa-info-circle fa-lg fa-li"></i>
				        By Company Name we intend the name of your Organization. For example<code>ABCD Technologies</code>. All the correspondence towards you will be made with this name.
				        <br clear="all" />
				        For those who outsource freelance jobs please mention an appropriate name that suites your project and which can be easily recognized by the employees assigned with your job.
				      </li>
				    </ul>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-xs-3">
						<button type="button" tab="2" class="btn btn-primary" ng-click="validate_and_proceed(clientRegistrationForm.$valid, 2, 'showRegistrationTab');" ng-disabled="clientRegistrationForm.$invalid">Next</button>
					</div>
				</div>
			</form>
		</div>
		<div id="adminRegistrationTab" class="tabContents white mainTab adminForm displayNone">
			<div class="alert alert-warning">
			    <ul class="fa-ul">
			      <li>
			        <i class="fa fa-info-circle fa-lg fa-li"></i>
			        The person who manages whole activity for your organization.
			      </li>
			    </ul>
			</div>
			<form id="adminRegistrationForm" name="adminRegistrationForm" class="form-horizontal" role="form" action="javascript:void(0);" method="POST" novalidate>
				<div class="form-group">
					<label class="control-label col-xs-4 custom requiredField">First Name</label>
					<div class="col-xs-3">
						{{ subscriber_creation_form.first_name }}
						<span ng-show="adminRegistrationForm.first_name.$invalid && adminRegistrationForm.first_name.$dirty" class="error">Required.</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4 custom requiredField">Last Name</label>
					<div class="col-xs-3">
						{{ subscriber_creation_form.last_name }}
						<span ng-show="adminRegistrationForm.last_name.$invalid && adminRegistrationForm.last_name.$dirty" class="error">Required.</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4 custom requiredField" for="inputPassword">Email</label>
					<div class="col-xs-3" id="zone">
						{{ subscriber_creation_form.email }}
						<div ng-show="adminRegistrationForm.email.$invalid && adminRegistrationForm.email.$dirty">
							<span ng-show="adminRegistrationForm.email.$error.required" class="error">
								Required.
							</span>
							<span ng-show="adminRegistrationForm.email.$error.email" class="error">
								Invalid Email.
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4 custom requiredField" for="inputPassword">Username</label>
					<div class="col-xs-3" id="zone">
						<input id="id_username" maxlength="30" name="username" type="text" ng-model="form_data.username" class="form-control" required>
						<span name="username" class="error"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4 custom requiredField" for="inputPassword">Password</label>
					<div class="col-xs-3" id="zone">
						<input id="id_password1" name="password1" type="password" ng-model="form_data.password1" class="form-control" required password-check="form_data.password2">
						<div ng-show="adminRegistrationForm.password1.$invalid && adminRegistrationForm.password1.$dirty">
							<span ng-show="adminRegistrationForm.password1.$error.required" class="error">
								Required.
							</span>
							<span ng-show="adminRegistrationForm.password1.$error.match" class="error">
								Password Mismatch.
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4 custom requiredField" for="inputPassword">Confirm Password</label>
					<div class="col-xs-3" id="zone">
						<input id="id_password2" name="password2" type="password" ng-model="form_data.password2" class="form-control" required password-check="form_data.password1">
						<div ng-show="adminRegistrationForm.password2.$invalid && adminRegistrationForm.password2.$dirty">
							<span ng-show="adminRegistrationForm.password2.$error.required" class="error">
								Required.
							</span>
							<span ng-show="adminRegistrationForm.password2.$error.match" class="error">
								Password Mismatch.
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-xs-3">
						<button type="button" tab="3" class="btn btn-primary" ng-click="validate_and_proceed(adminRegistrationForm.$valid, 3, 'showRegistrationTab');" ng-disabled="adminRegistrationForm.$invalid">Next</button>
						<button type="button" tab="1" class="btn btn-primary btn-back">Back</button>
					</div>
				</div>
			</form>
		</div>
		<div id="paymentTab" class="tabContents white mainTab displayNone">
			<div class="popupContainer">
				<div class="formContainerWithDisplay">
					<div class="alert alert-info">
						<b>Thank you for registering with us.</b>
						<br clear="all" />
						Currently we are offering the service for <b>FREE*</b>.
						Please note, OLA is in its primary stage of development and more convenience can be availed at later stages of your journey with us.
						We always thrive to give you a novel experience. Thank you once again.
					</div>
					<div class="fullContainer">
						<a href="/">
							<button class="btn signup-btn floatRight">Continue to site</button>
						</a>
					</div>
					<div class="commonTimeFooter floatLeft">
						* Free service will be available only for a limited period. The Terms and Conditions will be mailed to you once we plan to upgrade accounts.
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<script>
	$.each($('.btn-back'), function (index, elem) {
		$(elem).on('click', function () {
			var tab = $(elem).attr('tab');
			showRegistrationTab(tab);
		});
	});
	$(document).ready(function() {
		showRegistrationTab(1);
	});
</script>
{% endblock %}