{% extends 'ola/layout.html' %}
{% block head %}
	<script>
		$(document).ready(function () {
			$.each($('ul#main-nav-ul li'), function (index, elem) {
				$(elem).removeClass('active');
			});
			$('#nav-settings').addClass('active');
		});
		var user_id = '{{user_id}}';
	</script>
{% endblock %}
{% block content %}
<div class="container" ng-controller="SubscriberEditFormController">
	{% if auth_group.COMPANY_ADMIN %}
		<a class="btn btn-sm btn-success floatRight" href="{% url 'create_subscriber' %}">
		  	<i class="fa fa-plus fa-fw"></i>
		  	Create User
		</a>
		<br clear="all" />
	{% endif %}
	<div ng-show="edit_success" class="alert alert-success alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong>Great!</strong> New changes are applied.
	</div>
	<div ng-show="!edit_success && subscriberEditForm.$invalid" class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  	<strong>Oops!</strong> Please correct the errors to proceed.
	</div>
	<form id="subscriber-edit-form" name="subscriberEditForm" class="form-horizontal" role="form" novalidate action="javascript:void(0);" method="POST">
		<legend>
			Account Settings
		</legend>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">First Name</label>
			<div class="col-xs-5">
		  		{{subscriber_change_form.first_name}}
		  		<span ng-show="subscriberEditForm.first_name.$invalid && subscriberEditForm.first_name.$dirty" class="error">Required.</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">Last Name</label>
			<div class="col-xs-5">
		  		{{subscriber_change_form.last_name}}
		  		<span ng-show="subscriberEditForm.last_name.$invalid && subscriberEditForm.last_name.$dirty" class="error">Required.</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">Email</label>
			<div class="col-xs-5">
		  		{{subscriber_change_form.email}}
		  		<div ng-show="subscriberEditForm.email.$invalid && subscriberEditForm.email.$dirty">
					<span ng-show="subscriberEditForm.email.$error.required" class="error">
						Required.
					</span>
					<span ng-show="subscriberEditForm.email.$error.email" class="error">
						Invalid Email.
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">Username</label>
			<div class="col-xs-5">
		  		<input type="text" name="username" id="id_username" class="form-control" ng-model="form_data.username" required />
		  		<div ng-show="subscriberEditForm.username.$invalid && subscriberEditForm.username.$dirty">
					<span ng-show="subscriberEditForm.username.$error.required" class="error">
						Required.
					</span>
				</div>
			</div>
		</div>
		{% if auth_group.COMPANY_ADMIN %}
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">Role</label>
				<div class="col-xs-5">
			  		{{subscriber_change_form.role}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label custom col-xs-4">Account Status</label>
				<div class="col-xs-5">
			  		<input type="checkbox" name="is_active" id="id_is_active" class="form-control" ng-model="form_data.is_active" />
			  		<br clear="all" />
			  		<span class="help-block" ng-show="form_data.is_active">
			  			<span class="alert alert-success">
			  				Active account. User can Sign in.
			  			</span>
			  		</span>
			  		<span class="help-block" ng-show="!form_data.is_active">
			  			<span class="alert alert-danger">
			  				Inactive account. User restricted from Signing in.
			  			</span>
			  		</span>
				</div>
			</div>
		{% else %}
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">Role</label>
				<div class="col-xs-5">
					{% verbatim %}
			  			{{subscriber.group.name}}
			  		{% endverbatim %}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label custom col-xs-4">Account Status</label>
				<div class="col-xs-5">
					{% verbatim %}
			  			<span class="help-block" ng-show="form_data.is_active">
				  			<span class="alert alert-success">
				  				Active account.
				  			</span>
				  		</span>
				  		<span class="help-block" ng-show="!form_data.is_active">
				  			<span class="alert alert-danger">
				  				Inactive account.
				  			</span>
				  		</span>
			  		{% endverbatim %}
				</div>
			</div>
		{% endif %}
		<div class="form-group">
			<div class="col-xs-10">
				<button class="btn btn-primary floatRight" ng-click="validate_and_proceed(subscriberEditForm.$valid)" ng-disabled="subscriberEditForm.$invalid">Save</button>
				{{subscriber_change_form.hidden_user}}
			</div>
		</div>
	</form>
</div>
<div class="container" ng-controller="PasswordEditFormController">
	<div ng-show="edit_success" class="alert alert-success alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong>Great!</strong> Password changed successfully.
	</div>
	{% ifequal user.id request.user.id %}
		<form id="password-self-edit-form" name="passwordSelfEditForm" class="form-horizontal" role="form" novalidate>
			<legend>Change Password</legend>
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">Old Password</label>
				<div class="col-xs-5">
			  		<input ng-model="form_data.old_password" class="form-control" type="password" id="id_old_password" name="old_password" >
			  		<div ng-show="passwordSelfEditForm.old_password.$invalid && passwordSelfEditForm.old_password.$dirty">
						<span ng-show="passwordSelfEditForm.old_password.$error.required" class="error">
							Required.
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">New Password</label>
				<div class="col-xs-5">
			  		<input class="form-control" type="password" id="id_new_password1" name="new_password1" password-check="form_data.new_password2" ng-model="form_data.new_password1" >
			  		<div ng-show="passwordSelfEditForm.new_password1.$invalid && passwordSelfEditForm.new_password1.$dirty">
						<span ng-show="passwordSelfEditForm.new_password1.$error.required" class="error">
							Required.
						</span>
						<span ng-show="passwordSelfEditForm.new_password1.$error.match" class="error">
							Password Mismatch.
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">Password Again</label>
				<div class="col-xs-5">
			  		<input class="form-control" type="password" id="id_new_password2" name="new_password2" password-check="form_data.new_password1" ng-model="form_data.new_password2" >
			  		<div ng-show="passwordSelfEditForm.new_password2.$invalid && passwordSelfEditForm.new_password2.$dirty">
						<span ng-show="passwordSelfEditForm.new_password2.$error.required" class="error">
							Required.
						</span>
						<span ng-show="passwordSelfEditForm.new_password2.$error.match" class="error">
							Password Mismatch.
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-10">
					<button class="btn btn-primary floatRight" ng-disabled="passwordSelfEditForm.$invalid" ng-click="validate_and_proceed(passwordSelfEditForm.$valid)">Save</button>
				</div>
			</div>
		</form>
	{% else %}
		{% if auth_group.COMPANY_ADMIN %}
			<form id="password-admin-edit-form" name="passwordAdminEditForm" class="form-horizontal" role="form" novalidate>
				<legend>Change Password</legend>
				<div class="form-group">
					<label class="control-label custom col-xs-4 requiredField">New Password</label>
					<div class="col-xs-5">
				  		<input class="form-control" type="password" id="id_password1" name="password1" required ng-model="form_data.password1" password-check="form_data.password2">
				  		<div ng-show="passwordAdminEditForm.password1.$invalid && passwordAdminEditForm.password1.$dirty">
							<span ng-show="passwordAdminEditForm.password1.$error.required" class="error">
								Required.
							</span>
							<span ng-show="passwordAdminEditForm.password1.$error.match" class="error">
								Password Mismatch.
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label custom col-xs-4 requiredField">Password Again</label>
					<div class="col-xs-5">
				  		<input class="form-control" type="password" id="id_password2" name="password2"  required ng-model="form_data.password2" password-check="form_data.password1">
				  		<div ng-show="passwordAdminEditForm.password2.$invalid && passwordAdminEditForm.password2.$dirty">
							<span ng-show="passwordAdminEditForm.password2.$error.required" class="error">
								Required.
							</span>
							<span ng-show="passwordAdminEditForm.password2.$error.match" class="error">
								Password Mismatch.
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-10">
						<button class="btn btn-primary floatRight" ng-click="validate_and_proceed(passwordAdminEditForm.$valid)" ng-disabled="passwordAdminEditForm.$invalid">Save</button>
					</div>
				</div>
			</form>
		{% endif %}
	{% endifequal %}
</div>
<script>
	$('#formError').hide();
</script>
{% endblock %}