{% extends 'ola/layout.html' %}
{% block head %}
	<script>
		$(document).ready(function () {
			$.each($('ul#main-nav-ul li'), function (index, elem) {
				$(elem).removeClass('active');
			});
			$('#nav-settings').addClass('active');
		});
	</script>
{% endblock %}
{% block content %}
<div class="container">
	<form id="subscriber-create-form" class="form-horizontal" role="form" ng-controller="SubscriberCreateFormController">
		<legend>
			Create User
		</legend>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">First Name</label>
			<div class="col-xs-5">
		  		{{subscriber_create_form.first_name}}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">Last Name</label>
			<div class="col-xs-5">
		  		{{subscriber_create_form.last_name}}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">Email</label>
			<div class="col-xs-5">
		  		{{subscriber_create_form.email}}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label custom col-xs-4 requiredField">Username</label>
			<div class="col-xs-5 without-form-control">
		  		{{user_change_form.username}}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-4 custom requiredField" for="inputPassword">Password</label>
			<div class="col-xs-3" id="zone">
				<input id="id_password1" name="password1" type="password" ng-model="form_data.password1" class="form-control" required password-check="form_data.password2">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-xs-4 custom requiredField" for="inputPassword">Confirm Password</label>
			<div class="col-xs-3" id="zone">
				<input id="id_password2" name="password2" type="password" ng-model="form_data.password2" class="form-control" required password-check="form_data.password1">
			</div>
		</div>
		{% if auth_group.COMPANY_ADMIN %}
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">No of Leaves</label>
				<div class="col-xs-5 without-form-control">
			  		{{subscriber_create_form.no_of_leave_remaining}}
				</div>
			</div>
			<div class="form-group">
				<label class="control-label custom col-xs-4 requiredField">Role</label>
				<div class="col-xs-5 without-form-control">
			  		{{subscriber_create_form.role}}
				</div>
			</div>
		{% endif %}
		<div class="form-group">
			<div class="col-xs-10">
				<button class="btn btn-primary floatRight">Save</button>
			</div>
		</div>
	</form>
</div>
<script>
	
</script>
{% endblock %}